EXPENDITURES_TRACER_API_SECRET_KEY=django-insecure-wrflkj244583975

EXPENDITURES_TRACER_API_ALLOWED_HOSTS=
EXPENDITURES_TRACER_API_CORS_ALLOWED_ORIGINS=

MONEYBOOK_API_RABBITMQ_HOST=rabbitmq
MONEYBOOK_API_RABBITMQ_PORT=5672
MONEYBOOK_API_RABBITMQ_USER=guest
MONEYBOOK_API_RABBITMQ_PASSWORD=guest