EXPENDITURES_TRACER_API_SECRET_KEY=django-insecure-wrflkj244583975

EXPENDITURES_TRACER_API_ALLOWED_HOSTS=
EXPENDITURES_TRACER_API_CORS_ALLOWED_ORIGINS=

EXPENDITURES_TRACER_API_RABBITMQ_HOST=rabbitmq
EXPENDITURES_TRACER_API_RABBITMQ_PORT=5672
EXPENDITURES_TRACER_API_RABBITMQ_USER=guest
EXPENDITURES_TRACER_API_RABBITMQ_PASSWORD=guest